*{
    margin:0;

    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
body{
    background: rgb(22, 23, 34) url(./images/dark15.jpg) no-repeat;
}
body.light{
    background: rgb(250, 250, 250) url(./images/day10.jpg)no-repeat;
}
input{
    background-color:rgb(37, 39, 60);
    color: rgb(202, 205, 232);
}
input.light-input{
    background-color: rgb(255, 255, 255);
    color:rgb(72, 75, 106);
}
input:focus{
    outline: none !important;
}
.input, .list, .filter{
    width:30rem;
    background-color:rgb(37, 39, 60);
}
.input.light-input,.input.light-input input, .list.light-list, .filter.light-filter{
    background-color: rgb(255, 255, 255);
    color:rgb(72, 75, 106);
}
.input, .filter{
    padding-block: 1rem;
}
/* App  */
.App {
    position:absolute;
    left:50%;
    top:0;
    transform: translate(-50%, 0);
    margin-top:5rem;
    font-size: 1.2rem;
    color: rgb(202, 205, 232);
}
/* Header  */
.header{
    color:#ffff;
}
.header .text{
    width:30rem;
    padding-block: 2rem;
    margin:auto;
}
.header .text h1{
    margin-bottom:0;
    font-weight: 700;
}
.header .text .sun{
    font-size:2.5rem;
}
/* Input  */
.input{
    padding-right:1rem;
    border-radius: 6px;
}
.input input{
    width: 100%;
    border:none;
    padding-left: 3rem;
}
/* List  */
.list{
    position:relative;
    margin-top:2rem;
    border-top-left-radius: 6px;
    border-top-right-radius:6px ;
    box-shadow: rgb(0 0 0 / 0%) 0px 1rem 1.25rem;
}
.list .list-box{
    border-bottom: 1px solid rgb(57, 58, 76); 
    padding:1rem;
}
.list .list-box .delete{
    margin-left:auto;
    font-size:1.8rem;
}
.list.light-list .list-box{
    border-bottom: 1px solid rgb(228, 229, 241);
    color:rgb(72, 75, 106);
}
.list .checkbox{
    margin-right:2rem;
}
.list input[type="checkbox"]{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid rgb(77, 80, 102);
    background-color:inherit;
    display:flex;
    justify-content: center;
    align-items:center;
}
.list.light-list input{
    border: 1px solid rgb(210, 211, 219);
}
.list input[type="checkbox"]::after{
    font-family: "Font Awesome 5 free";
    content:"\f00c";
    font-weight: 900;
    font-size: 0.7rem;
    color: white;
    display: none;
}
.list  label{
 display:flex;
 line-height: 1.2;
}
.list input[type="checkbox"]:checked{
    background-image: linear-gradient(to right,#8360c3 , #654ea3);
}
.list.light-list input[type="checkbox"]:checked{
    background-image: linear-gradient(to right, #0082c8,#396afc);
}
.list input[type="checkbox"]:checked::after{
    display:inline-block;
}
/* Filter  */
.filter{
    font-size: 1rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: rgb(0 0 0 / 0%) 0px 1rem 1.25rem;
}
.filter.light-filter{
    box-shadow:rgb(207 207 207 / 50%) 0px 1rem 1.25rem;
}
.filter .status div{
    margin: 0 0.3rem;
}
.filter .filter-items:hover{
    cursor:pointer;
    color:grey;
}
.filter .all, .filter .active, .filter .completed{
    color: rgb(37, 78, 227) !important;
    font-weight: 500;
}
/* Footer  */
/* .footer{
    font-size:18px;
    text-align:center;
    margin-top:3rem;
    color:#4e4f63;
} */
@media screen and (max-width: 767px){
    .input, .list, .filter,.header .text{
        width: 25rem;
    }
    .header .text .sun{
        font-size:2rem;
    }
    .filter{
        font-size: 0.8rem;
    }
    .App section{
        font-size: 1rem;
    }
}
@media screen and (max-width: 480px){
    .input, .list, .filter, .header .text{
        width: 22rem;
    }
    .header .top-image .text .sun{
        font-size:1.7rem;
    }
    .filter{
        font-size: 0.6rem;
    }
    .App section{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 380px){
    .input, .list, .filter, .header .text{
        width: 18rem ;
    }
    .filter{
        font-size: 0.5rem;
    }
}